li {
    padding: 5px;
    margin: 5px;
    background:  rgb(196, 124, 196);
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .center {
    text-align: center;
  }
  body {
    background-color: rgb(218, 145, 37);
  }
  .burgerList {
    background-color: rgb(196, 124, 196);
  }